/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require animate
 *= require font-awesome
 *= require_self 
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";



.btn-access {
  background-color: #212020;
  margin-top: 10px;
  margin-bottom: 45px;
  color: #6A6969;
}




#session {
    background-image: image-url("landing/header_bg.png");
    background-size: cover;
    height: 100vh;
    padding-top: 5%;
    min-height: 667px;
    font-family: 'Lucida Grande';
  a{
    background-color: transparent;
  }
}