<!DOCTYPE html>
<html>
  <head>
    <title>LiveinWebLanding</title>
    <%= csrf_meta_tags %>


    <!-- Responsive Enable -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
